<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="sideButtons()">
        <ion-icon id="top-btn" style="transition: 0.4s; font-size: 25px; color: #ff28e9;" name="reorder-four"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon style="color: #ff28e9;" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-icon id="upload-btn" class="side-btn" name="add" (click)="uploadPage()"></ion-icon>
  <ion-icon id="chat-btn" class="side-btn" name="chatbox-ellipses" (click)="chatsPage()"></ion-icon>
  <ion-icon id="home-btn" class="side-btn" name="grid" (click)="homePage()"></ion-icon>
  <ion-icon id="tv-btn" class="side-btn" name="tv" (click)="tvPage()"></ion-icon>

  <div class="card light">
    <div class="card-text">
      <div class="card-img" *ngIf="profilePic == null || profilePic == ''"></div>
      <ion-avatar *ngIf="profilePic != null" class="profile-img">
        <img src="{{profilePic}}"/>
      </ion-avatar>
      <div style="text-align: center;">
        <h2 style="color: white;">{{username}}</h2>
        <h5 *ngIf="bio != null && bio != ''">{{bio}}</h5>
      </div>
    </div>
    <div class="card-stats">
      <div class="stats" style="padding: 10px 20px;">
        <div class="value">{{this.posts.length}}</div>
        <div class="type"> POSTS </div>

      </div>
      <div button (click)="listUsers('subscribers')" class="stats">
        <div class="value">{{subscribers}}</div>
        <div class="type">subscribers</div>
      </div>
      <div button (click)="listUsers('subscribing')" class="stats">
        <div class="value">{{subscribing}}</div>
        <div class="type">subscribing</div>
      </div>
    </div>
  </div>

  <div style="margin-top: 110px; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <ion-item *ngFor="let post of posts; let i = index" style=" margin-bottom: 5px; border-radius: 10px; width: 95%; --background:none; border-width: 2px; border-style: solid; border-color: #633fb3;">
      <ion-avatar style="--border-radius: 20px; width: 60px; height: 60px;" slot="start">
        <img src="{{post.pic}}"/>
      </ion-avatar>
      <div style="display: flex; flex-direction: column;">
        <ion-label>
          <h2 class="song-name">{{post.name}}</h2>
        </ion-label>
        <div style="margin-left: 3px; display: flex; flex-direction: row; margin-top: 5px; color: white;">
          <div>
            <ion-icon style="color: #ff28e9; font-size: 20px;" name="heart-outline"></ion-icon>
            <span style="font-size: 11px; margin-top: 8px; margin-left: 2px;">{{post.likes}}</span>
          </div>
          <div style="margin-left: 5px;" button (click)="openComments(post.postID)">
            <ion-icon style="color: #ff28e9; font-size: 20px; margin-left: 10px;" name="chatbubble-outline"></ion-icon>
            <span style=" font-size: 11px; margin-top: 8px; margin-left: 2px;">{{post.comments}}</span>
          </div>
        </div>
      </div>

      <div slot="end">
        <ion-button *ngIf="post.loading == false" (click)="playAudio(post, i)" style="--background: none;">
          <ion-icon name="play"></ion-icon>
        </ion-button>
        <ion-button style="--background: none;" *ngIf="post.loading == true" (click)="cancelAudioLoad()">
          <ion-spinner name="crescent" color='secondary'></ion-spinner>
        </ion-button>
        <ion-button style="--background: none;">
          <ion-icon name="share-social-sharp"></ion-icon>
        </ion-button>
        <ion-button style="--background: none;">
          <fa-icon icon="trash"></fa-icon>
        </ion-button>
      </div>

    </ion-item>
  </div>

  <div style="width: 100%; height: 140px;">

  </div>
</ion-content>
