<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon style="color: #ff28e9;" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll()">



  <div *ngFor="let post of posts" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <div class="profile-card" data-aos="zoom-in-up">
      <div class="front">
        <div class="card-header">
          <div>
            <ion-icon style="color: #5fa8d3; position: absolute; right: 10px; top: 10px; background: white; padding: .5rem; font-size: 20px; border-radius: 50%;" name="tv"></ion-icon>
          </div>
          <div class="pic">
            <img src="{{post.profilePic}}">
          </div>
          <div class="name">{{post.title}}</div>
          <div class="desc">{{post.username}}</div>
          <ion-icon class="play-btn" name="play"></ion-icon>
        </div>
        <div class="card-footer">
          <div class="numbers">
            <div class="item">
              <span><ion-icon name="heart-outline"></ion-icon></span>
              256
            </div>
            <div class="border"></div>
            <div class="item">
              <span><ion-icon name="chatbox"></ion-icon></span>
              150
            </div>
            <div class="border"></div>
            <div class="item">
              <span><ion-icon name="share-social-sharp"></ion-icon></span>
              share
            </div>
          </div>
        </div>
      </div>
      <div class="comments">

      </div>
    </div>
  </div>

</ion-content>
