<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon style="color: #ff28e9;" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll()">



  <!--
    <div class="categories ion-padding">
    <div class="scroll" id="scroll" scrollX="true">
      <ion-badge class="mostLikedTag" color="light" tappable (click)="tagsAnim($event, 'Most Liked')">Most Liked</ion-badge>
      <ion-badge *ngFor="let tag of tags" color="light" tappable (click)="tagsAnim($event, tag)">{{tag}}</ion-badge>
    </div>
  </div>

  <div class="container">
    <ion-slides [options]="option" (ionSlideReachEnd)="loadNextPosts()">
      <ion-slide *ngFor="let post of posts">
        <ion-grid style="z-index: 0;">
          <ion-row style="margin-bottom: -20px;">
            <ion-col size="12">
              <ion-item lines="none">
                <h6 style="color: #bef992; max-width: 180px; overflow: hidden; display: block; white-space: nowrap; text-overflow: ellipsis;">{{post.username}}</h6>
                <ion-icon name="share-social-sharp" slot="end" style="size: 3rem; color: #00fff5;"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="no-padding no-margin">
            <ion-card style="background-image: url({{post.profilePic}})">

            </ion-card>
          </ion-row>
          <ion-row style="margin-top: -20px;">
            <ion-col size="12">
              <ion-item lines="none">
                <div slot="start" id="{{post.postId}}">
                  <ion-icon id="playBtn" name="play" style="display: flex; color: white;" slot="start" tappable (click)="playAudio(post.url, post.postId)"></ion-icon>
                  <ion-icon id="pauseBtn" class="pausebtn" style="display: none; color: white;" name="pause" slot="start" tappable (click)="pauseAudio(post.postId)"></ion-icon>
                  <div id="loading" style="display: none;" slot="start">
                    <ion-spinner style="color: white; height: 15px; width: 15px;" name="crescent"></ion-spinner>
                  </div>
                  <ion-icon id="resumeBtn" name="play" style="display: none;" slot="start" tappable (click)="resumeAudio(post.postId)"></ion-icon>
                </div>
                <ion-text style="color: white; max-width: 150px; overflow: hidden; display: block; white-space: nowrap; text-overflow: ellipsis;">{{post.title}}</ion-text>
                <ion-icon tappable (click)="likePost(post.postId, $event, post)" slot="end" [name]="post.heartType" style="color: white; size: 20px; font-size: 20px;"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>
  -->



  <div *ngFor="let post of posts" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <div class="profile-card" data-aos="zoom-in-up">
      <div class="front">
        <div class="card-header">
          <div>
            <ion-icon style="color: #5fa8d3; position: absolute; right: 10px; top: 10px; background: white; padding: .5rem; font-size: 20px; border-radius: 50%;" name="tv"></ion-icon>
          </div>
          <div class="pic">
            <img src="{{post.profilePic}}">
          </div>
          <div class="name">{{post.title}}</div>
          <div class="desc">{{post.username}}</div>
          <ion-icon class="play-btn" name="play"></ion-icon>
        </div>
        <div class="card-footer">
          <div class="numbers">
            <div class="item">
              <span><ion-icon name="heart-outline"></ion-icon></span>
              256
            </div>
            <div class="border"></div>
            <div class="item">
              <span><ion-icon name="chatbox"></ion-icon></span>
              150
            </div>
            <div class="border"></div>
            <div class="item">
              <span><ion-icon name="share-social-sharp"></ion-icon></span>
              share
            </div>
          </div>
        </div>
      </div>
      <div class="comments">

      </div>
    </div>
  </div>

</ion-content>
