<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="SelectFile()" id="fileUploadBtn" [disabled]="recording" class="upload-btn">
        <ion-icon slot="icon-only" name="folder"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="outerbigcircle"></div>
  <div class="outercircle"></div>
  <div class="innerlightcircle"></div>
  <div class="dots" id="dots">
    <div class="dot one" ></div>
    <div class="dot two" ></div>
    <div class="dot three"></div>
  </div>

  <button ion-button class="record-btn" id="recordBtn">
    <fa-icon icon="microphone"></fa-icon>
  </button>

</ion-content>
